POSTGRES_USER=freshomill
POSTGRES_PASSWORD=freshomill_dev_password
POSTGRES_DB=freshomill
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@freshomill.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

JWT_SIGNING_KEY=

EMAIL_HOST=smtp.example.com
EMAIL_USERNAME=
EMAIL_PASSWORD=

RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
